# BYOND specific ignores
# Based on .gitignores from other SS13 codebases

*.dmb
*.rsc
*.int
*.lk
*.log

data/*
SQL/*
serverdata.txt



.DS_Store
config/host.txt
config/host.txt
config/host.txt
config/host.txt
recipes.txt
config/host.txt
config/host.txt
config/host.txt
.vscode/launch.json
cfg/admin.txt
nullobj.txt
maps/1943/backup/nanjing.dmm
maps/1943/nanjing.dmm
maps/1943/nanjing.dmm
*.code-workspace
tts/amazontts.py
tools/imglist.txt
tools/jslist.txt
tools/unused.txt
