# BYOND specific ignores
# Based on .gitignores from other SS13 codebases

*.dmb
*.rsc
*.int
*.lk
*.log

data/*
SQL/*
sharedinfo/*
serverdata.txt

















.DS_Store
UI/Thumbs.db:encryptable
UI/Thumbs.db
maps/naval - Copy/backup/naval.dmm
icons/WW2/Thumbs.db
icons/Thumbs.db
config/serverswap.txt
config/serverswap.txt
config/serverswap.txt
config/serverswap.txt
config/serverswap.txt
config/host.txt
config/host.txt
config/host.txt
config/host.txt
config/host.txt
config/host.txt
config/host.txt
config/host.txt
